<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>🫀 Cardio AI</h2>

    <a href="/dashboard">Dashboard</a>

    <a href="/">Upload ECG</a>

    <a href="/prediction">Prediction</a>

    <a href="/alerts">Alerts</a>

    <a href="/analytics">Analytics</a>

    <a href="/search">Search Patient</a>

</div>

<div class="main-content">

    <h1>Smart Cardiology Dashboard</h1>

    <div class="card-container">

        <div class="dashboard-card">
            <h3>Upload ECG</h3>
            <p>Upload ECG image for analysis</p>

            <a href="/upload">
                <button>Open</button>
            </a>
        </div>

        <div class="dashboard-card">
            <h3>AI Prediction</h3>
            <p>View patient risk prediction</p>

            <a href="/prediction">
                <button>Open</button>
            </a>
        </div>

        <div class="dashboard-card">
            <h3>🚨 Alerts</h3>
            <p>Check emergency alerts</p>

            <a href="/alerts">
                <button>Open</button>
            </a>
        </div>

        <div class="dashboard-card">
            <h3>📊 Analytics</h3>
            <p>View analytics dashboard</p>

            <a href="/analytics">
                <button>Open</button>
            </a>
        </div>

    </div>

</div>

</body>
</html>