<!DOCTYPE html>
<html>
<head>
    <title>Smart Cardiology Login</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-body">

<div class="login-container">

    <div class="login-card">

        <h1>🫀 Smart Cardiology</h1>

        <p>AI Powered ECG Monitoring System</p>

        <form action="/dashboard" method="GET">

            <input type="text" placeholder="Username" required>

            <input type="password" placeholder="Password" required>

            <select required>
                <option>Doctor</option>
                <option>Hospital Management</option>
            </select>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</div>

</body>
</html>